:root {
    --cor-fundo1: rgba(0, 0, 255, 0.918);
    --cor-fonte1: rgb(255, 255, 255);
    --normal-max-width: 40rem;
    --font-size-padrao: 1.4rem;
}
html {
    background-color: white;
}

/* Body */
body {
    margin: 0 auto;
    background-color: rgb(8, 0, 39);
    border: solid var(--cor-fundo1);
    border-top: 2px;
    max-width: 41rem;
    font-family:'Share Tech Mono', monospace;
}
h1 {
    background-color: var(--cor-fundo1);
    color: var(--cor-fonte1);
    max-width: var(--normal-max-width);
    padding: 1rem;
}
h2 {
    background-color: var(--cor-fundo1);
    color: var(--cor-fonte1);
    max-width: var(--normal-max-width);
    padding: 0.5rem;
}
h3 {
    background-color: var(--cor-fundo1);
    color: var(--cor-fonte1);
    max-width: var(--normal-max-width);
    padding: 0.5rem;
}
p {
    padding-left: 0.5rem;
    font-size: var(--font-size-padrao);
}
ul {
    font-size: var(--font-size-padrao);
}
img {
    max-width: 90%;
}
div {
    background-color: rgb(146, 230, 255);
    max-width: var(--normal-max-width);
    border-right: solid  var(--cor-fundo1);
    border-bottom: solid var(--cor-fundo1);
}
.botao-aqui h3 {
    padding: 0.5rem;
    margin-bottom: 0;
}
.botao-aqui div{
    display: flex;
    justify-content: center;
    border: none;
}
.botao-aqui p a {
    display: flow-root;
    text-decoration: none;
    margin: 0 5px;
    max-width: 10rem;
    padding: 0.7rem;
    background-color: rgba(0, 47, 255, 0.123);
    font-size: 1.3rem;
    border-radius: 1rem;
    color: var(--cor-fonte1);
    box-shadow: 2px 2px 3px 3px rgba(9, 4, 82, 0.76);
}
@media only sceen and (min-width: 680px) {
    img {
        max-width: 30rem;
    }
    .botao-aqui p a {
        max-width: 40%;
    }
}